$my-yellow: (
    50 : #fffce0,
    100 : #fff8b3,
    200 : #fff380,
    300 : #ffee4d,
    400 : #ffea26,
    500 : #ffe600,
    600 : #ffe300,
    700 : #ffdf00,
    800 : #ffdb00,
    900 : #ffd500,
    A100 : #ffffff,
    A200 : #fffdf2,
    A400 : #fff3bf,
    A700 : #ffeea6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent: (
    50 : #f3f3f3,
    100 : #e0e0e0,
    200 : #cccccc,
    300 : #b8b8b8,
    400 : #a8a8a8,
    500 : #999999,
    600 : #919191,
    700 : #868686,
    800 : #7c7c7c,
    900 : #6b6b6b,
    A100 : #fdeaea,
    A200 : #f8bcbc,
    A400 : #ff8181,
    A700 : #ff6868,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

